<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/v5-test/src/main/java/v5test/V5Test.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="AUTH_TOKEN" value="cvnj9834z5okjv09ssdjg"/>
        <mapEntry key="DEBUG" value="true"/>
        <mapEntry key="GOOGLE_ADS.ACCT_ID" value="8239330129"/>
        <mapEntry key="GOOGLE_ADS.CLIENT_ID" value="319128982826-1fdutlo2cke813uh7sutck7oasrmjg71.apps.googleusercontent.com"/>
        <mapEntry key="GOOGLE_ADS.CLIENT_SECRET" value="IP8a3DWMymk5uFunN5G0c3Ec"/>
        <mapEntry key="GOOGLE_ADS.DEVELOPER_TOKEN" value="3GjuKJoZjS9ina42Xs88xQ"/>
        <mapEntry key="GOOGLE_ADS.IS_PARTIAL_FAILURE" value="false"/>
        <mapEntry key="GOOGLE_ADS.LOGIN_CUSTOMER_ID" value="5494549800"/>
        <mapEntry key="GOOGLE_ADS.REFRESH_TOKEN" value="1/mxyq2dsw7yX7bfhiu_XK3yAOZH0n2-hFXMl93ntsSLI"/>
        <mapEntry key="GOOGLE_ADS.SERVICE_ACCOUNT_USER" value="balloonary.test@gmail.com"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="v5test.V5Test"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="v5-test"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="v5-test"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.util.logging.config.file=./resources/jdk-logger.properties"/>
</launchConfiguration>
